<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag 'profile.jpg' %>
  </div>
  
  <div id="content">
    <h1>Hi, I am MAshraf</h1>
    <p>I am a fresh graduate Electrical Engineer from the land of the Pharaohs and Alexander the Great, Alexandria Egypt</p>
    <p>I am also a Web developer and a Web Designer, I am learning everyday and making my way to the world </p>
    <p>Currently, writing these words, I am following 12 in 12 tutorials by Mackenzie Child in Ruby on Rails and the 10 in 10 NodeProjects by the Eudonix.</p>
    <p>This is the second week of 12 in 12 Building A Blog in Rails and this page is the static page of the app.</p>
  </div>
</div>