#banner
  .banner_content
    %h1 RNote
    %p Your Online Notebook. Never forget an idea again!
    %button= link_to "Sign Up", new_user_registration_path
    
#testimonial
  .wrapper
    %p.quote "The Greatest Notebook App. Ever."
    %p.name - John Doe.
    
#callouts
  .callout_inner
    .wrapper
      - 3.times do
        .callout
          %h2 Notes
          %p Morbi sit amet semper est, non gravida justo. Curabitur nisi enim, ultrices eget pellentesque eu, tempor a libero. Pellentesque viverra velit ut laoreet iaculis. Curabitur eros justo, egestas at ultrices ac, posuere nec massa. Nullam in accumsan turpis. Vivamus quis vehicula tortor. Nulla sed lectus tincidunt, faucibus urna nec, ullamcorper enim. Nulla lacus felis, semper nec ante hendrerit, hendrerit aliquam lacus.
          
#bottom_cta
  .wrapper
    %h2 For Realz :) 
    %p I want you to sign up... 
    %button= link_to "Click Meeee", new_user_registration_path
      
        