<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Your Favorite Movies</h1>
    <p>Fanny pack etsy vice direct trade raclette ethical yr put a bird on it stumptown chartreuse unicorn literally, kinfolk hexagon. Freegan woke hot chicken banh mi disrupt fixie, stumptown pinterest green juice single-origin coffee jean shorts listicle hell of. </p>
    <p><%= link_to "Sign Up To Write A Review", new_user_registration_path, class: "btn btn-primary" %></p>
  </div>
<% end %>
<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
      </div>
    </div>
  <% end %>
</div>
